<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/static/products.css" />
</head>
<body>
    <img id="logo" src="/static/images/logo.jpg" />
    <div class="menu">
        <ul>
            <li>Home</li>
            <li>View Catalogue</li>
            <li>Manage Catalogue</li>
            <li>Help</li>
        </ul>
    </div>
    <h1> Products</h1>
    <main class="product-list">
        {% for p in data %}
        <div class="product">
            <div class="product-image">
                <image src="/static/{{ p['image'] }}" />
            </div>           
            <div class="product-text">
                <div class="product-name">{{ p["name"]}}</div>
                <div class="product-description">{{ p["description"]}}</div>
                <div class="product-price">${{ p["price"]}}</div>
            </div>
        </div>
        {% endfor %}
    </main>
    <footer>Footer</footer>
</body>
</html>
