<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Product Catalogue</title>
    <link rel="stylesheet" href="/static/products.css" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    {% include 'header.html' %}
    <h1> Products</h1>
    <main class="product-list">
        {% for p in data %}
        <div class="product">
            <div class="product-image">
                <image src="/static/{{ p['image'] }}" />
            </div>           
            <div class="product-text">
                <div class="product-name">{{ p["name"]}}</div>
                <div class="product-description">{{ p["description"]}}</div>
                <div class="product-price">${{ p["price"]}}</div>
            </div>
        </div>
        {% endfor %}
    </main>
    <div class="footer">
        {% include 'messages.html' %}
    </div>
</body>
</html>
